<template>
    <v-app>
        <v-snackbar
            v-model="snackbar.display"
            :timeout="snackbar.timeout"
            top
        >
            {{ snackbar.message }}

        <template v-slot:action="{ attrs }">
            <v-btn
                color="red lighten-2"
                text
                v-bind="attrs"
                @click="snackbar.display = false"
            >
                Close
            </v-btn>
        </template>
        </v-snackbar>
        <v-row class="justify-center align-center">
            <v-col cols="12" lg="4" xl="3" md="5">
                <v-card elevation="12" class="mx-2" style="border: .5px solid #ddd">
                    <v-card-title>
                        Login
                    </v-card-title>
                    <v-card-text>
                        <div class="mt-2"></div>
                        <form @submit="login">
                            <v-text-field
                                outlined
                                label="Username"
                                :rules="rules.username"
                                v-model="login_data.username"
                                autofocus
                            ></v-text-field>
                            <v-text-field
                                outlined
                                label="Password"
                                type="password"
                                v-model="login_data.password"
                                :rules="rules.password"
                            ></v-text-field>
                            <v-row class="justify-end mr-1">
                                <v-btn
                                    text
                                    href="/register"
                                    color="primary"
                                    class="mr-2"
                                >Register <div class="mr-1"></div><v-icon>person_add</v-icon></v-btn>
                                <v-btn
                                    color="success"
                                    type="submit"
                                >Login <div class="mr-1"></div><v-icon>vpn_key</v-icon></v-btn>
                            </v-row>
                        </form>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-app>
</template>

<script>
export default {
    data () {
        return {
            login_data: {
                username: '',
                password: ''
            },
            rules: {
                username: [ v => !!v || 'Username is required!' ],
                password: [ v => !!v || 'Password is required!' ]
            },
            snackbar: {
                display: false,
                timeout: -1,
                message: ''
            }
        }
    },

    beforeCreate: function() {
        if (this.$session.exists()) {
            this.$router.push({ path: '/home' });
        }
    },

    methods: {
        login: function(e) {
            e.preventDefault();  
            this.$http({
                method: "POST",
                data: {
                    username: this.login_data.username,
                    password: this.login_data.password
                },
                url: this.$directory + '/api/login_user',
            })
            .then(response => {
                if (response.data.response == '200') {
                    this.snackbar.display = true;
                    this.snackbar.timeout = 1600;
                    this.snackbar.message = response.data.message;
                    
                    var snack = this.snackbar;
                    var vrouter = this.$router;
                    var vsession = this.$session;
                    setTimeout(function() {
                        snack.display = false;
                        if (snack.display === false) {
                            vsession.start();
                            vsession.set('logged_in', response.data.logged_in);
                            vsession.set('uname', response.data.username);
                            vrouter.push({ path: '/home' })
                        }
                    }, 1650);
                } else {
                    this.snackbar.display = true;
                    this.snackbar.timeout = 1600;
                    this.snackbar.message = response.data.message;
                }
            })
            .catch(error => console.log(error))
        }
    }
}
</script>