<template>
    <div id="app">
        <v-app id="inspire">
            <v-container
                class="scroll-y"
            >
                <v-layout
                align-center
                justify-center
                >
                <v-flex xs12>
                <v-toolbar color="cyan" dark id="scroll-target">
                <v-toolbar-title>Scroll Down</v-toolbar-title>
                </v-toolbar>
                <v-btn
                    v-scroll="onScroll"
                    v-show="fab"
                    fab
                    dark
                    fixed
                    bottom
                    right
                    color="primary"
                    @click="toTop"
                >
                    <v-icon>keyboard_arrow_up</v-icon>
                </v-btn>
                <v-card
                style="height: 1000px"
                >
                <v-card-title primary-title>
                    <div>This example demonstrates how to create a "scroll to top" button that becomes visible when the user starts to scroll the page.</div>
                    
                </v-card-title>
                <v-card-text>
                    <v-btn color="red lighten-1" @click="addField">Add Text Field</v-btn>


                    <div
                        v-for="(textField, i) in textField"
                        :key="i"
                        class="text-fields-row"
                    >
                        <v-text-field
                            :label="textField.label1"
                            v-model="textField.value1"
                        ></v-text-field>

                        <v-text-field
                            :label="textField.label2"
                            v-model="textField.value2"
                        ></v-text-field>
                    </div>
                </v-card-text>

                </v-card>
                
            </v-flex>
                
                </v-layout>
            </v-container>
        </v-app>
    </div>
</template>

<script>
export default {
    data: () => ({
    fab: false,
    textField: []
  }),

  methods: {
    onScroll (e) {
      if (typeof window === 'undefined') return
      const top = window.pageYOffset || e.target.scrollTop || 0
      this.fab = top > 20
    },
    toTop () {
      this.$vuetify.goTo(0)
    },
    addField() {
        this.textField.push({
            label1:"Name1",
        })
    }
  }
}
</script>