<template>
	<v-app>
		<v-container class="scroll-y">
			<v-btn
				v-scroll="onScroll"
				v-show="fab"
				fab
				dark
				fixed
				bottom
				right
				color="red darken-3"
				@click="toTop"
			>
				<v-icon>keyboard_arrow_up</v-icon>
		</v-btn>
		<v-row class="justify-center mt-8 col-ml-1" id="scroll-target">
			<v-col cols="12" lg="11" xl="11" md="11">
				<v-card elevation="5">
					<v-card-title>
						<span class="h2 mr-4 mb-1"><v-icon>mdi-file-document</v-icon></span><h3>Case Investigation Form</h3>
						<v-row class="justify-end mr-3">
							<v-tooltip bottom>
								<template v-slot:activator="{ on, attrs }">
									<v-btn
										text
										v-bind="attrs"
										v-on="on"
									>
										
										<v-icon>lock</v-icon>
									</v-btn>
								</template>
								<span>Data Privacy</span>
							</v-tooltip>
							<v-tooltip bottom>
								<template v-slot:activator="{ on, attrs }">
									<v-btn
										text
										v-bind="attrs"
										v-on="on"
									>
										
										<v-icon>warning</v-icon>
									</v-btn>
								</template>
								<span>Important Notice</span>
							</v-tooltip>
							<v-tooltip bottom>
								<template v-slot:activator="{ on, attrs }">
									<v-btn
										text
										v-bind="attrs"
										v-on="on"
										@click="darkMode"
									>
										
										<v-icon v-if="dMode == 1">invert_colors_off</v-icon>
										<v-icon v-else>invert_colors</v-icon>
									</v-btn>
								</template>
								<span v-if="dMode == 1">Light Mode</span>
								<span v-if="dMode == 0">Dark Mode</span>
							</v-tooltip>
						</v-row>
					</v-card-title>
					<v-card-text>
						<v-expansion-panels focusable v-model="panel1" tile>
							<v-expansion-panel>
								<v-expansion-panel-header color="red darken-2 white--text">
									<h3>Part I. Patient Information</h3>
								</v-expansion-panel-header>
								<v-expansion-panel-content>
									<v-alert border="top" colored-border color="red lighten-1" class="mt-4" elevation="5">
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">1. Patient Profile</span>
										<v-form
											ref="form1"
											v-model="valid1"
											lazy validation
										>
										<v-container>
											<v-row>
												<v-col cols="12" lg="4" xl="4">
													<v-text-field
														outlined
														label="Last Name"
														v-model="patient_info.last_name"
														:rules="[rules.empty_field]"
													></v-text-field>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
													<v-text-field
														outlined
														label="First Name"
														v-model="patient_info.first_name"
														:rules="[rules.empty_field]"
													></v-text-field>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
													<v-text-field
														outlined
														label="Middle Name"
														v-model="patient_info.middle_name"
														:rules="[rules.empty_field]"
													></v-text-field>
												</v-col>
											</v-row>
											<v-row>
												<v-col cols="12" lg="4" xl="4">
													<v-menu
														v-model="bday_menu"
														:close-on-content-click="false"
														:nudge-right="40"
														transition="scale-transition"
														offset-y
														min-width="290px"
													>
													<template v-slot:activator="{ on, attrs }">
														<v-text-field
															v-model="patient_info.bday"
															label="Birth Date"
															:rules="[rules.empty_field]"
															v-bind="attrs"
															v-on="on"
															outlined
														></v-text-field>
													</template>
													<v-date-picker v-model="patient_info.bday" @input="bday_menu = false"></v-date-picker>
													</v-menu>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
													<v-text-field
														outlined
														label="Age"
														readonly
														v-model="age_calc"
													></v-text-field>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
														<v-select
															outlined
															label="Gender"
															:items="patient_info.gender" 
															item-text="sex"
															item-value="abbr"
															:rules="[rules.empty_field]"
														></v-select>
												</v-col>
											</v-row>
											<v-row>
												<v-col cols="12" lg="4" xl="4">
														<v-select
															outlined
															label="Civil Status"
															:items="patient_info.civil_stat" 
															item-text="stat"
															item-value="value"
															:rules="[rules.empty_field]"
														></v-select>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
														<v-select
															outlined
															label="Nationality"
															:items="patient_info.nationality" 
															item-text="nationality"
															item-value="numcode"
															:rules="[rules.empty_field]"
														></v-select>
												</v-col>
												<v-col cols="12" lg="4" xl="4">
														<v-text-field
															outlined
															label="Occupation"
															v-model="patient_info.occupation"
															:rules="[rules.empty_field]"
														></v-text-field>
												</v-col>
											</v-row>
										</v-container>
									</v-form>
									</v-alert>
									<v-alert border="top" colored-border color="red lighten-1" class="mt-4" elevation="5">
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">2.1 Permanent Address</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_perm_addr.prov"
															label="Province"
															:items="patient_perm_addr.prov" 
															item-text="provDesc"
															item-value="provCode"
															v-on:change="get_permCity"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_perm_addr.city"
															label="City/Municipality"
															:items="patient_perm_addr.city" 
															item-text="citymunDesc"
															item-value="citymunCode"
															v-on:change="get_permBrgy"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_perm_addr.brgy"
															label="Barangay"
															:items="patient_perm_addr.brgy" 
															item-text="brgyDesc"
															item-value="brgyCode"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Street"
															v-model="patient_perm_addr.street"
														></v-text-field>
													</v-col>
												</v-row>
												<v-row>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="House #/Lot/Bldg"
															v-model="patient_perm_addr.house_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Telephone No."
															v-model="patient_perm_addr.tel_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Mobile No."
															v-model="patient_perm_addr.mobile_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Email Address"
															v-model="patient_perm_addr.email"
															:rules="[rules.valid_email]"
														></v-text-field>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert border="top" colored-border color="red lighten-1" class="mt-4" elevation="5">
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">2.2 Current Address</span> <v-btn text dense color="blue darken-2" class="ml-5" style="margin-top: -.3px;">Same as Permanent Address</v-btn>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_curr_addr.prov"
															label="Province"
															:items="patient_curr_addr.prov" 
															item-text="provDesc"
															item-value="provCode"
															v-on:change="get_currCity"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_curr_addr.city"
															label="City/Municipality"
															:items="patient_curr_addr.city" 
															item-text="citymunDesc"
															item-value="citymunCode"
															v-on:change="get_currBrgy"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-select
															outlined
															v-model="patient_curr_addr.brgy"
															label="Barangay"
															:items="patient_curr_addr.brgy" 
															item-text="brgyDesc"
															item-value="brgyCode"
														></v-select>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Street"
															v-model="patient_curr_addr.street"
														></v-text-field>
													</v-col>
												</v-row>
												<v-row>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="House #/Lot/Bldg"
															v-model="patient_curr_addr.house_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Telephone No."
															v-model="patient_curr_addr.tel_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Mobile No."
															v-model="patient_curr_addr.mobile_no"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Email Address"
															v-model="patient_curr_addr.email"
														></v-text-field>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-expansion-panels>
						<v-expansion-panels focusable v-model="panel2" tile>
							<v-expansion-panel>
								<v-expansion-panel-header color="red darken-2 white--text">
									<h3>Part II. CIF Information</h3>
								</v-expansion-panel-header>
								<v-expansion-panel-content>
									<v-alert
										border="top"
										colored-border
										color="red lighten-1"
										class="mt-4"
										elevation="5"
									>
									<div class="mt-2"></div>
										<span class="h5 font-weight-bold">3. Overseas Employment Address (for Overseas Filipino Workers)</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12">
														Is OFW?
														<v-radio-group
															v-model="other_info.is_ofw"
															row
														>
															<v-radio
																label="Yes"
																color="red"
																value="1"
															></v-radio>
															<v-radio
																label="No"
																value="0"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert border="top" colored-border color="red lighten-1" class="mt-4" elevation="5">
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">4. Travel History</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12">
														History of travel/visit/work in other countries with a known COVID-19 transmission 14 days before the onset of signs and symptoms
														<v-radio-group
															v-model="other_info.has_travel"
															row
														>
															<v-radio
																label="Yes"
																color="red"
																value="1"
															></v-radio>
															<v-radio
																label="No"
																value="0"
																color="red"
															></v-radio>
															<v-radio
																label="Unknown"
																value="2"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert
										border="top"
										colored-border
										color="red lighten-1"
										class="mt-4"
										elevation="5"
									>
									<div class="mt-2"></div>
									<span class="h5 font-weight-bold">5. Exposure History</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12">
														History of Exposure to Known CoViD-19 Case 14 days before the onset sign and symptoms
														<v-radio-group
															v-model="other_info.has_exposure"
															row
														>
															<v-radio
																label="Yes"
																color="red"
																value="1"
															></v-radio>
															<v-radio
																label="No"
																value="0"
																color="red"
															></v-radio>
															<v-radio
																label="Unknown"
																value="2"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
												</v-row>
												<v-row>
													<v-col cols="12">
														Have you been in a place with known CoViD-19 transmission 14 days before the onset sign and symptoms
														<v-radio-group
															v-model="other_info.has_place_expo"
															row
														>
															<v-radio
																label="Yes"
																color="red"
																value="1"
															></v-radio>
															<v-radio
																label="No"
																value="0"
																color="red"
															></v-radio>
															<v-radio
																label="Unknown"
																value="2"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert
										border="top"
										colored-border
										color="red lighten-1"
										class="mt-4"
										elevation="5"
									>
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">6. Clinical History</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12" lg="6" xl="6">
														Clinical Status
														<v-radio-group
															v-model="clinic_info.status"
															row
														>
															<v-radio
																label="Inpatient"
																color="red"
																value="inpatient"
															></v-radio>
															<v-radio
																label="Outpatient"
																value="outpatient"
																color="red"
															></v-radio>
															<v-radio
																label="Died"
																value="died"
																color="red"
															></v-radio>
															<v-radio
																label="Discharged"
																value="discharged"
																color="red"
															></v-radio>
															<v-radio
																label="Unknown"
																value="unknown"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
													<v-col cols="12" lg="6" xl="6">
														Signs and Symptoms (Check all that apply if present)
														<div class="mt-3"></div>
														<v-select
															chips
															:items="clinic_info.symptoms"
															item-text="name"
															item-value="value"
															label="Symptoms"
															multiple
															outlined
															dense
														></v-select>
													</v-col>
												</v-row>
												<v-row>
													<v-col cols="12" lg="3" xl="3">
														<v-menu
															v-model="onset_illness_menu"
															:close-on-content-click="false"
															:nudge-right="40"
															transition="scale-transition"
															offset-y
															min-width="290px"
														>
															<template v-slot:activator="{ on, attrs }">
																<v-text-field
																	v-model="clinic_info.onset_illness"
																	label="Date of Onset of Illness"
																	v-bind="attrs"
																	v-on="on"
																	outlined
																></v-text-field>
															</template>
														<v-date-picker v-model="clinic_info.onset_illness" @input="onset_illness_menu = false"></v-date-picker>
													</v-menu>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-menu
															v-model="date_admit_menu"
															:close-on-content-click="false"
															:nudge-right="40"
															transition="scale-transition"
															offset-y
															min-width="290px"
														>
															<template v-slot:activator="{ on, attrs }">
																<v-text-field
																	v-model="clinic_info.date_admit"
																	label="Date of Admission/Consultation"
																	v-bind="attrs"
																	v-on="on"
																	outlined
																></v-text-field>
															</template>
															<v-date-picker v-model="clinic_info.date_admit" @input="date_admit_menu = false"></v-date-picker>
														</v-menu>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-text-field
															outlined
															label="Fever"
															append-icon="mdi-temperature-celsius"
															v-model="clinic_info.fever_degree"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="3" xl="3">
														<v-combobox multiple
															v-model="clinic_info.other_symptoms" 
															label="Other Symptoms" 
															append-icon
															chips
															deletable-chips
															class="tag-input pb-4"
														>
														</v-combobox>
													</v-col>
													<v-col cols="12" lg="4" xl="4" md="6">
														<v-select
															chips
															:items="clinic_info.xray_illness_history"
															deletable-chips
															item-text="name"
															item-value="value"
															label="XRAY Test/Illness History"
															multiple
															outlined
															dense
														></v-select>
													</v-col>
													<v-col cols="12" lg="8" xl="8" md="6">
														<v-text-field
															outlined
															dense
															label="Other Radiological Findings"
															v-model="clinic_info.other_findings"
														></v-text-field>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert
										border="top"
										colored-border
										color="red lighten-1"
										class="mt-4"
										elevation="5"
									>
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">7. Final Classification</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12">
														<v-radio-group
															v-model="final_outcome.final_classification"
															row
														>
															<v-radio
																label="Suspect Case"
																color="red"
																value="suspect"
															></v-radio>
															<v-radio
																label="Probable Case"
																value="probable"
																color="red"
															></v-radio>
															<v-radio
																label="Confirmed Case"
																value="confirmed"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
									<v-alert
										border="top"
										colored-border
										color="red lighten-1"
										class="mt-4"
										elevation="5"
									>
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">8. Outcome</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12" lg="6" xl="6">
														<v-radio-group
															v-model="final_outcome.outcome"
															row
														>
															<v-radio
																label="Improved"
																color="red"
																value="improved"
															></v-radio>
															<v-radio
																label="Recovered"
																value="recovered"
																color="red"
															></v-radio>
															<v-radio
																label="Transferred"
																value="transferred"
																color="red"
															></v-radio>
															<v-radio
																label="Absconded"
																value="absconded"
																color="red"
															></v-radio>
															<v-radio
																label="Died"
																value="died"
																color="red"
															></v-radio>
														</v-radio-group>
													</v-col>
													<v-col cols="12" lg="6" xl="6">
														<v-menu
															v-model="date_discharge_menu"
															:close-on-content-click="false"
															:nudge-right="40"
															transition="scale-transition"
															offset-y
															min-width="290px"
														>
															<template v-slot:activator="{ on, attrs }">
																<v-text-field
																	v-model="final_outcome.date_discharge"
																	label="Date of Discharge"
																	v-bind="attrs"
																	v-on="on"
																	outlined
																></v-text-field>
															</template>
															<v-date-picker v-model="final_outcome.date_discharge" @input="date_discharge_menu = false"></v-date-picker>
														</v-menu>
													</v-col>
													<v-col cols="12" lg="4" xl="4">
														<v-text-field
															outlined
															label="Name of Informant(If patient unavailable)"
															v-model="final_outcome.informant_name"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="4" xl="4">
														<v-text-field
															outlined
															label="Relationship"
															v-model="final_outcome.relationship"
														></v-text-field>
													</v-col>
													<v-col cols="12" lg="4" xl="4">
														<v-text-field
															outlined
															label="Contact"
															v-model="final_outcome.contact_no"
														></v-text-field>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-expansion-panels>
						<v-expansion-panels focusable v-model="panel3" tile>
							<v-expansion-panel>
								<v-expansion-panel-header color="red darken-2 white--text">
									<h3>Part III. Identification</h3>
								</v-expansion-panel-header>
								<v-expansion-panel-content>
									<v-alert border="top" colored-border color="red lighten-1" class="mt-4" elevation="5">
										<div class="mt-2"></div>
										<span class="h5 font-weight-bold">9. Personal Identification</span>
										<v-form>
											<v-container>
												<v-row>
													<v-col cols="12">
														<v-file-input
															label="Upload Photo"
															outlined
															prepend-icon="mdi-camera"
															color="red accent-3"
															counter
															:show-size="1000"
														>
															<template v-slot:selection="{ text }">
																<v-chip
																	small
																	label
																	color="primary"
																>
																	{{ text }}
																</v-chip>
															</template>
														</v-file-input>
													</v-col>

													<v-col cols="12">
														<v-btn>Show Camera</v-btn>
													</v-col>
												</v-row>
											</v-container>
										</v-form>
									</v-alert>
								</v-expansion-panel-content>
							</v-expansion-panel>
						</v-expansion-panels>
						<v-divider class="mt-6"></v-divider>
						<v-btn
							color="blue darken-2 white--text"
							class="mt-5 mb-1"
							@click="submit"
						>
							Submit <v-icon>done_all</v-icon>
						</v-btn>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
		</v-container>
	</v-app>
</template>

<script>
export default {
	data () {
		return {
			forms: {
				valid1: true,
				valid2: true,
				valid3: true,
				valid4: true,
				valid5: true,
				valid6: true,
				valid7: true,
				valid8: true,
			},
			patient_info: {
				last_name: '',
				first_name: '',
				middle_name: '',
				bday: new Date().toISOString().substr(0, 10),
				gender: [
					{ sex: 'Male', abbr: 'M' },
					{ sex: 'Female', abbr: 'F' }
				],
				civil_stat: [
					{ stat: 'Single', value: '1' },
					{ stat: 'Married', value: '2' },
					{ stat: 'Widowed', value: '3' },
					{ stat: 'Separated', value: '4' },
					{ stat: 'Divorced', value: '5' }
				],
				nationality: [],
				occupation: '',
			},
			patient_perm_addr: {
				prov: [],
				city: [],
				brgy: [],
				street: '',
				house_no: '',
				tel_no: '',
				mobile_no: '',
				email: ''
			},
			patient_curr_addr: {
				prov: [],
				city: [],
				brgy: [],
				street: '',
				house_no: '',
				tel_no: '',
				mobile_no: '',
				email: ''
			},
			other_info: {
				is_ofw: '',
				has_travel: '',
				has_exposure: '',
				has_place_expo: '',
			},
			clinic_info: {
				status: '',
				symptoms: [
					{ name: 'Sore Throat', value: 'sore_throat' },
					{ name: 'Cough', value: 'cough' },
					{ name: 'Colds', value: 'colds' },
					{ name: 'Shortness of breath/Difficulty of breathing', value: 'short_breath' },
				],
				onset_illness: new Date().toISOString().substr(0, 10),
				date_admit: new Date().toISOString().substr(0, 10),
				fever_degree: '',
				other_symptoms: [],
				xray_illness_history: [
					{ name: 'Is there any illness history', value: 'yes' },
					{ name: 'Chest XRAY done?', value: 'done' },
				],
				other_findings: ''
			},
			final_outcome: {
				outcome: '',
				final_classification: '',
				date_discharge: new Date().toISOString().substr(0, 10),
				informant_name: '',
				relationship: '',
				contact_no: '',
			},
			rules: {
				empty_field: v => !!v || 'This field is required!',
				valid_email: v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
			},
			fab: false,
			row: null,
			panel1: 0,
			panel2: 0,
			panel3: 0,
			date: new Date().toISOString().substr(0, 10), // just a referrence
			bday_menu: false,
			onset_illness_menu: false,
			date_admit_menu: false,
			date_discharge_menu: false,
			dMode: 0
		}
	},

	computed: {
		age_calc: function() {
			let get_age = new Date(this.date).getFullYear() - new Date(this.patient_info.bday).getFullYear();
			return get_age <= 0 ? "0" : get_age;
		}
	},

	created: function() {
		// get nationality axios
		this.$http({
			method: "GET",
			url: this.$directory + '/api/get_nationality'
		})
		.then(response => { this.patient_info.nationality = response.data; })
		.catch(error => console.log(error));

		// get province
		this.$http({
			method: "GET",
			url: this.$directory + '/api/get_province',
		})
		.then(response => {
			this.patient_perm_addr.prov = response.data;
			this.patient_curr_addr.prov = response.data;
		})
		.catch(error => console.log(error));
		
	},

	methods: {
		onScroll(e) {
			if (typeof window === 'undefined') return
			const top = window.pageYOffset || e.target.scrollTop || 0
			this.fab = top > 20
		},
		toTop() {
			this.$vuetify.goTo(0);
		},
		
		// get permanent city/municipality
		get_permCity() {
			this.$http({
				method: "POST",
				url: this.$directory + '/api/get_city',
				data: { provCode: this.patient_perm_addr.prov.provCode }
			})
			.then(response => { this.patient_perm_addr.city = response.data; })
			.catch(error => console.log(error));
		},
		
		// get current city/municipality
		get_currCity() {
			this.$http({
				method: "POST",
				url: this.$directory + '/api/get_city',
				data: { provCode: this.patient_curr_addr.prov.provCode }
			})
			.then(response => { this.patient_curr_addr.city = response.data; })
			.catch(error => console.log(error));
		},

		// get brgy
		get_permBrgy() {
			this.$http({
				method: "POST",
				data: {
					provCode: this.patient_perm_addr.prov.provCode,
					cityCode: this.patient_perm_addr.city.citymunCode
				},
				url: this.$directory + '/api/get_brgy',
			})
			.then(response => { this.patient_perm_addr.brgy = response.data; })
			.catch(error => console.log(error));
		},
		
		get_currBrgy() {
			this.$http({
				method: "POST",
				data: {
					provCode: this.patient_curr_addr.prov.provCode,
					cityCode: this.patient_curr_addr.city.citymunCode
				},
				url: this.$directory + '/api/get_brgy',
			})
			.then(response => { this.patient_perm_addr.brgy = response.data; })
			.catch(error => console.log(error));
		},

		darkMode() {
			let dark = this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
			dark == true ? this.dMode = 1 : this.dMode = 0;
		},

		validate_form() {
			for(let i = 1; i <= 8; i++) {
				this.$refs.form[i].validate();
			}
		},

		submit() {
			if (this.validate_form1()) {
				console.log('valid!');
			} else {
				console.log('not valid!');
			}
		}
	}
}
</script>