<template>
    <v-app>
        <v-row class="justify-center align-center">
            <v-snackbar
                v-model="snackbar.display"
                :timeout="snackbar.timeout"
                top
            >
                {{ snackbar.message }}

            <template v-slot:action="{ attrs }">
                <v-btn
                    color="red lighten-3"
                    text
                    v-bind="attrs"
                    @click="snackbar.display = false"
                >
                    Close
                </v-btn>
            </template>
            </v-snackbar>
            <v-col cols="12" lg="4" xl="3" md="5">
                <v-card elevation="12" class="mx-2" style="border: .5px solid #ddd">
                    <v-card-title>
                        Register
                    </v-card-title>
                    <v-card-text>
                        <div class="mt-2"></div>
                        <v-text-field
                            outlined
                            label="Full Name"
                            v-model="reg_data.name"
                            :rules="inputRules.fields"
                            autofocus
                        ></v-text-field>
                        <v-text-field
                            outlined
                            label="Username"
                            v-model="reg_data.username"
                            :rules="inputRules.fields"
                        ></v-text-field>
                        <v-text-field
                            outlined
                            label="Password"
                            type="password"
                            v-model="reg_data.password"
                            :rules="inputRules.fields.concat(inputRules.pass_rules)"
                        ></v-text-field>
                        <v-text-field
                            outlined
                            label="Confirm Password"
                            type="password"
                            v-model="confirm.conf_pass"
                            :rules="confirm.conf_pass_rule"
                        ></v-text-field>
                        <v-row class="justify-end mr-1">
                            <v-btn
                                text
                                href="/"
                                color="success"
                                class="mr-2"
                            >Login <div class="mr-1"></div><v-icon>vpn_key</v-icon></v-btn>
                            <v-btn
                                color="primary"
                                @click="register()"
                            >Register <div class="ml-2"></div><v-icon>person_add</v-icon></v-btn>
                        </v-row>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-app>
</template>

<script>
export default {
    data () {
        return {
            reg_data: {
                name: '',
                username: '',
                password: ''
            },
            confirm: {
                conf_pass: '',
                conf_pass_rule: [ v => v === this.reg_data.password || 'Password do not match!' ]
            },
            inputRules: {
                fields: [ v => !!v || 'This field is required!' ],
                pass_rules: [ v => v.length >= 8 || 'Password is too short!' ]
            },
            snackbar: {
                display: false,
                timeout: -1,
                message: ''
            }
        }
    },
    methods: {
        register() {
            this.$http({
                method: "POST",
                data: {
                    name: this.reg_data.name,
                    username: this.reg_data.username,
                    password: this.reg_data.password,
                    conf_pass: this.confirm.conf_pass
                },
                url: this.$directory + '/api/reg_user'
            })
            .then(response => {
                if (response.data.response == '200') {
                    this.snackbar.display = true;
                    this.snackbar.timeout = 1600;
                    this.snackbar.message = response.data.message;
                    
                    var snack = this.snackbar;
                    var vrouter = this.$router;
                    setTimeout(function() {
                        snack.display = false;
                        if (snack.display == false) {
                            vrouter.push({ path: '/' })
                        }
                    }, 1650);
                } else {
                    this.snackbar.display = true;
                    this.snackbar.timeout = 2000;
                    this.snackbar.message = response.data.message;
                }
            })
            .catch(error => console.log(error))
        }
    }
}
</script>