<template>
    <v-app>
		<v-app-bar
			color="primary"
			dark
            flat
            dense
		>
			<v-app-bar-nav-icon @click="minified"></v-app-bar-nav-icon>
			<v-toolbar-title>{{ $route.name }}</v-toolbar-title>

			<v-row class="justify-end">

				<v-tooltip bottom>
				<template v-slot:activator="{ on, attrs }">
					<v-btn
						text
						v-bind="attrs"
						v-on="on"
						@click="darkMode"
					>
						<v-icon>invert_colors</v-icon>
					</v-btn>
				</template>
				<span>Dark Mode</span>
				</v-tooltip>

				<v-tooltip bottom>
				<template v-slot:activator="{ on, attrs }">
					<v-btn
						text
						v-bind="attrs"
						v-on="on"
						@click="logout"
					>
						<v-icon>power_settings_new</v-icon>
					</v-btn>
				</template>
				<span>Logout</span>
				</v-tooltip>

			</v-row>
		</v-app-bar>
        <v-navigation-drawer
			v-model="nav_drawer"
			permanent
			:mini-variant.sync="mini"
        >
            <v-list dense>
				<v-subheader><h3>Howdy, {{ this.$session.get('uname') }}</h3></v-subheader>
				<v-divider class="my-2"></v-divider>
                <v-list-item-group active-class="primary">
					<v-list-item>
						<v-list-item-title>Foo</v-list-item-title>
					</v-list-item>

					<v-list-item>
						<v-list-item-title>Bar</v-list-item-title>
					</v-list-item>

					<v-list-item>
						<v-list-item-title>Fizz</v-list-item-title>
					</v-list-item>

					<v-list-item>
						<v-list-item-title>Buzz</v-list-item-title>
					</v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
    </v-app>
</template>

<script>
export default {
    data () {
        return {
			nav_drawer: false,
			mini: true
        }
    },

	beforeCreate: function() {
		if (!this.$session.exists()) {
			this.$router.push({ path: '/' });
		}
    },

	methods: {
		logout() {
			this.$session.clear();
			this.$session.destroy();
			location.reload();
		},
		darkMode() {
			this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
		},
		minified() {
			this.mini = !this.mini;
		}
	}
}
</script>